.header {
  height: var(--header-height);
  background-color: var(--color-primary);
  color: var(--color-text);

  display: flex;
  align-items: center;
  padding: 0 var(--spacing);
}

.header-amazonas {
  height: var(--header-height);
  background-color: var(--color-primary-amazonas);
  color: var(--color-text);

  display: flex;
  align-items: center;
  padding: 0 var(--spacing);
}

.header-title {
  font-size: 18px;
  font-weight: bold;
}




/* Campo resposável pelos botões superiores */
.top-navigation {
  display: flex;
  width: 100%;
  gap: 0px;
  margin-top: 0px;
  
}

 /* botões superiores */
.nav-button {
  flex: 1;
  height: 45px;
  border: 1px solid #ffffff;

  border-radius: 10px;
  background-color: #5f7c69;
  color: white;

  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

 /* botões superiores */
.nav-button:hover {
  opacity: 0.85;
}

 /* botões superiores */
.nav-button.active {
  background-color: #3c5244;
}


.bottom-toolbar{
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;

  height: 75px;

  background: white;
  border-top: 1px solid #dcdcdc;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  padding: 0 25px;

  z-index: 999;
}

.apply-button,
.clear-button{
  height: 45px;
  padding: 0 22px;

  border: none;
  border-radius: 10px;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.2s;
}

.apply-button{
  width: 700px;
  background: #d3d3d1;
  color: #212121;
}

/* quando existir seleção */
.apply-button.active{
  background: #394957;
  color: white;
}

.apply-button:hover{
  background: #e7e7e7;
}
/* quando existir seleção */
.apply-button.active:hover{
  background: #45596b;
  color: white;
}


.clear-button{
  width: 700px;
  background: #d3d3d1;
  color: #212121;
}

.clear-button:hover{
  background: #e7e7e7;
}
