.header {
  height: var(--header-height);
  background-color: var(--color-primary);
  color: var(--color-text);

  display: flex;
  align-items: center;
  padding: 0 var(--spacing);
}

.header-title {
  font-size: 18px;
  font-weight: bold;
}



/* 
.dadcontainer{
  width: 100%; 
  max-width: 100%; 
  max-height: 600px;
  flex: 1;
  padding-left: 30px;
  padding-right: 30px;
} 

.table-container {
  width: 100%; 
  max-width: 100%; 
  max-height: 600px;
  border-radius: 10px;
  flex: 1;
  border: 1px solid #45596b;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #3E6B57;
  padding: 12px;
  text-align: center;
  white-space: nowrap;
}

.table thead {
  background-color: #2c3e50;
  color: white;
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: #3E6B57;
  color: white;
  z-index: 2;
}

.table tbody tr:nth-child(odd) {
  background-color: #e3f5ed;
}

.table tbody tr:nth-child(even) {
  background-color: #bcd3c9;
} */


/* 

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px;
  padding-left: 45px;
  gap: 0px;
}

.toolbar input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.toolbar input:first-child {
  width: 600px;
  height: 40px;

  outline: none;
  font-size: 19px;
}


.toolbar-logo-container{
  width: 350px;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}


.toolbar-logo{
  max-width: 100%;
  max-height: 100%;

  object-fit: contain;
} */





/* Campo resposável pelos botões superiores */
.top-navigation {
  display: flex;
  width: 100%;
  gap: 0px;
  margin-top: 0px;
  
}

 /* botões superiores */
.nav-button {
  flex: 1;
  height: 45px;
  border: 1px solid #ffffff;

  border-radius: 10px;
  background-color: #5f7c69;
  color: white;

  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

 /* botões superiores */
.nav-button:hover {
  opacity: 0.85;
}

 /* botões superiores */
.nav-button.active {
  background-color: #394957;
}




.bottom-toolbar{
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;

  height: 75px;

  background: white;
  border-top: 1px solid #dcdcdc;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  padding: 0 25px;

  z-index: 999;
}

.apply-button,
.clear-button{
  height: 45px;
  padding: 0 22px;

  border: none;
  border-radius: 10px;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.2s;
}

.apply-button{
  width: 700px;
  background: #d3d3d1;
  color: #212121;
}

/* quando existir seleção */
.apply-button.active{
  background: #394957;
  color: white;
}

.apply-button:hover{
  background: #e7e7e7;
}
/* quando existir seleção */
.apply-button.active:hover{
  background: #45596b;
  color: white;
}


.clear-button{
  width: 700px;
  background: #d3d3d1;
  color: #212121;
}

.clear-button:hover{
  background: #e7e7e7;
}
