/* Fundo geral */
.home-container {
    
  background-color: #d5d5d5;
  min-height: 100vh;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Grid principal */
.home-grid {
    margin-top: 30px;
    
    padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  gap: 16px;
  
}

/* Coluna esquerda */
.left-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Linha busca */
.search-row {
  display: flex;
  gap: 10px;
}

/* Campo busca */
.search-input {
  flex: 1;
  height: 40px;
  border: none;
  background-color: #ffffff;
  padding-left: 12px;
  font-size: 16px;
  border-radius: 4px;
}

/* Botão busca */
.search-button {
  width: 70px;
  border: none;
  background-color: #829e8c;
  border-radius: 4px;
  color: white;
    font-weight: bold;

  cursor: pointer;
}

/* Cards cinza */
.gray-card {
  background-color: #829e8c;
  border-radius: 10px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 26px;
  font-weight: bold;
}

/* Área terminais */
.terminals-card {
  height: 180px;
}

.dashboard-big-number{
  font-size: 100px;
}

.dashboard-string{
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
}

.dashboard-deploy{
  font-size: 50px;
  text-align: center;

  margin-bottom: 20px;
 
}

.dashboard-tecnologia{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:37px;
  padding: 10px
}

.card-search{
    background-color: #ffffff;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 26px;
  font-weight: bold;
}

.version-card {
  height: 336px;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

.version-header {
  width: 100%;
  height: 30px;
  padding: 20px;
    background-color: #5f7c69;
  display: flex;
  align-items: center;
}

.version-title {
  color: white;
  font-size: 19px;
  font-weight: bold;
}

/* Botões das adquirentes */
.version-buttons {
  flex: 1;

  display: flex;
  gap: 20px;

  justify-content: center;
  align-items: center;
}

.version-button {
  flex: 1;
  height: 250px;
  width: 330px;

  border: none;
  border-radius: 12px;

  cursor: pointer;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;
  position: relative;

  transition: 0.3s;
}

.button-overlay {
  width: 100%;
  height: 100%;

  /* background: rgba(0, 0, 0, 0.5); */

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 28px;
  font-weight: bold;

  transition: 0.3s;
}

.version-button:hover {
  transform: scale(1.05);
}

.version-button:hover .button-overlay {
  background: rgba(0, 0, 0, 0.2);
}

/* Dashboards inferiores */
.bottom-dashboards {
    padding-left: 20px;
    padding-right: 20px;
  width: 100%;
  overflow: hidden;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

/* Dashboards inferiores */
.bottom-dashboards-letters {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}


.dashboard-card {
  height: 300px;
  flex: 1;
  min-width: 0;
  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  gap: 10px;
}

.dashboard-label {
  font-size: 34px;

  font-weight: bold;

  text-align: center;

  color: white;
}










.terminals-card {
  position: relative;

  overflow: hidden;

  height: 180px;

  border-radius: 18px;

  background: #1e293b00;
}

.vertical-carousel {
  width: 100%;
  height: 100%;

  position: relative;
}

.carousel-image {
  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: all 0.5s ease;
}

.arrow {
  position: absolute;

  left: 50%;

  transform: translateX(-50%);

  z-index: 10;

  width: 40px;
  height: 40px;

  border: none;

  border-radius: 50%;

  background: rgba(252, 252, 252, 0);

  color: white;

  cursor: pointer;

  transition: 0.2s;
}

.arrow:hover {
  background: rgba(0,0,0,0.8);
}

.down {
  bottom: 0px;
}













.customer-getnet {
  background-color: #EC0000;
}

.customer-mercadopago {
  background-color: #00BDFF;
}

.customer-pagseguro {
  background-color: #00BC99;
}

.customer-safra {
  background-color: #1E2044;
}

.customer-stone {
  background-color: #00A867;
}



