.header {
  height: var(--header-height);
  background-color: var(--color-primary);
  color: var(--color-text);

  display: flex;
  align-items: center;      /* centraliza vertical */
  padding: 0 var(--spacing);
}

.header-title {
  font-size: 18px;
  font-weight: bold;
}